* {
  margin: 0;
  padding: 0;
}

.body {
  background-image: url("background.jpg");
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  .left {
    display: flex;
    flex-direction: column;
    .spin-button {
      background-color: rgb(221, 150, 16);
      border-radius: 50%;
      position: absolute;
      left: 174px;
      top: 174px;
      height: 100px;
      width: 100px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-weight: bold;
    }

    .bottom {
      display: flex;
      flex-direction: column;
      flex: 1;
      color: white;
      padding: 30px;
      .segment {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        input {
          margin: auto;
          width: 100%;
          height: 80%;
        }
        .selected {
          border: 8px solid lightskyblue;
          background-color: #e3e3e3;
          border-radius: 50%;
          width: 80px;
          height: 80px;

          transform: scale(1.1);

          font-size: large;
          font-weight: bold;
        }

        .chip {
          border: 8px solid darkblue;
          background-color: #e3e3e3;
          border-radius: 50%;
          width: 80px;
          height: 80px;

          font-size: large;
          font-weight: bold;
        }
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: row;
  }
}

.admin-table {
  width: 100%;
}
